@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.imgborder {
    border-radius: 0px 0px 151px 360px;
}
